<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="/style.css?<%=Time.now.to_i%>"
    />
  </head>
  <body>
    <header>
      <h1>Webbshop</h1>
      <img src="../public/img/" alt="Logo" />
    </header>

    <div id="main">
      <% @items.each do |items| %>
      <div>
        <div class="card">
          <h1><%= items ['title'] %></h1>
          <p>price: <%= items ['price'] %></p>
          <p>Desc: <%= items ['description'] %></p>
          <p>stock: <%= items ['stock'] %></p>

          <a href="/editor/<%= items['id'] %>">Redigera</a>

          <form action="/delete/<%= items['id'] %>" method="post">
            <input type="hidden" name="_method" value="delete" />
            <input type="submit" value="Ta bort" />
          </form>
        </div>
      </div>
      <% end %>
    </div>

    <footer>
      <a href="">About us</a>
      <a href="">Customer service</a>
      <p>Copyright© 2025 Edvin Lind. Med ensamrätt.</p>
    </footer>
  </body>
</html>
