<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="/style.css?<%=Time.now.to_i%>"
    />
  </head>
  <body>
    <header>
      <h1>Webbshop</h1>
      <img src="../public/img/" alt="Logo" />
    </header>

    <h1>Your Products</h1>

    <form action="/items" method="POST">
      <input type="text" name="title" placeholder="Product Title" required />
      <input type="number" name="price" placeholder="Price" required />
      <input
        type="text"
        name="description"
        placeholder="Description"
        required
      />
      <input type="number" name="stock" placeholder="Stock" required />
      <button type="submit">Add Product</button>
    </form>

    <div class="main">
      <% @items.each do |item| %>
      <div>
        <h2><%= item.title %></h2>
        <p>Price: <%= item.price %></p>
        <p>Description: <%= item.description %></p>
        <p>Stock: <%= item.stock %></p>

        <a href="/items/<%= item.id %>/edit">Edit</a>

        <form action="/item/<%= item.id %>" method="post">
          <input type="hidden" name="_method" value="delete" />
          <input type="submit" value="Delete" />
        </form>
      </div>
      <% end %>
    </div>

    <footer>
      <a href="">About us</a>
      <a href="">Customer service</a>
      <p>Copyright© 2025 Edvin Lind. Med ensamrätt.</p>
    </footer>
  </body>
</html>
